baseURL = 'https://shichong-wang.github.io/'
languageCode = 'en-us'
title = 'Shichong Wang'
theme = "diary"

[menu]
  [[menu.main]]
    name = "Home"
    url = "/"
    weight = 1
  [[menu.main]]
    name = "Projects"
    url = "/projects/"
    weight = 2
  [[menu.main]]
    name = "Blog"
    url = "/posts/"
    weight = 3
  [[menu.main]]
    name = "About"
    url = "/about/"
    weight = 4

[params]
author = "Shichong Wang"
year = 2026
